<h1>Listing user_infos</h1>

<table>
  <tr>
    <th>user</th>
    <th>Email</th>
    <th>Full name</th>
    <th>Nickname</th>
    <th>Date of birth</th>
    <th>Gender</th>
    <th>Profile image url</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_infos.each do |user_info| %>
  <tr>
    <td><%= user_info.user_id %></td>
    <td><%= user_info.email %></td>
    <td><%= user_info.full_name %></td>
    <td><%= user_info.nickname %></td>
    <td><%= user_info.date_of_birth %></td>
    <td><%= user_info.gender %></td>
    <td><%= user_info.profile_image_url %></td>
    <td><%= user_info.password %></td>
    <td><%= link_to 'Show', user_info %></td>
    <td><%= link_to 'Edit', edit_user_info_path(user_info) %></td>
    <td><%= link_to 'Destroy', user_info, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User info', new_user_info_path %>
